

*{
	font-family: Arial;
	margin:0;
	padding:0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body {
	background-color: rgba(161, 225, 245, 0.253);
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 20px;
}

.container .heading{
	font-size: 35px;
	margin-bottom: 20px;
	color: #000033;
}

.container .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 20px;
}

.container .box-container .box{
	background-color: #fff;
}

.container .box-container .box .image{
	margin-bottom: 20px;
	overflow: hidden;
	height: 250px;
	border-radius: 7px;
	margin-top: 20px;
}